@function R($rem) {
    @return $rem / 750 * 3.2 * 1rem;
}
.upload{
	background-color: #9450e7;
	.picture{
		position: relative;
		width: 100%;
		height: R(940);
		.icon-upload{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: R(122);
			height: R(191);
			background-image: url(./images/icon_upload.png);
			background-size: 100% 100%;
			.file-input{
				width: 100%;
				height: 100%;
				opacity: 0;
				display: block;
			}
		}
		.main-img{
			width: R(750);
			height: R(940);
			display: block;
			background-color: #fff;
		}
	}
	.info{
		background-color: #a973ec;
		height: R(185);
	}
	.action{
		.sure-btn{
			display: block;
			background: #ffd35c url(./images/sure_btn.png) no-repeat center center;
			background-size: R(143) R(35);
			height: R(105);
			width: 100%;
		}
	}
}