@function R($rem) {
    @return $rem / 750 * 3.2 * 1rem;
}
.home{
	.hupu-logo{
		position: absolute;
		top: R(40);
		left: R(40);
		
		width: R(150);
		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.slogan{
		margin: R(127) auto 0;
		width: R(687);
		height: R(541);
		display: block;
		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.action{
		margin-top: R(830 - 541 - 127);
		width: 100%;
		text-align: center;
		.score-btn{
			display: inline-block;
			vertical-align: top;

			margin: 0 R(20) R(40);
			width: R(600);
			height: R(100);
			background: url(./images/score.png);
			background-size: 100% 100%;

			&.open{
				background-image: url(./images/score_1.png);
			}
			&.close{
				pointer-events: none;
			}
		}
		.rank-btn, .upload-btn{
			display: inline-block;
			vertical-align: top;

			margin: 0 R(20) R(40);
			width: R(280);
			height: R(100);
			
			background-size: 100% 100%;

			&.close{
				pointer-events: none;
			}
		}
		.rank-btn{
			background-image: url(./images/rank.png);
			&.open{
				background-image: url(./images/rank_1.png);
			}
		}
		.upload-btn{
			background-image: url(./images/upload.png);
		}
		.rule-btn{
			padding: 0 R(20);
			line-height: 1.5;
			min-width: R(200);
			display: inline-block;
			vertical-align: top;
			font-size: R(22);
			color: #fff;
			text-decoration: none;
		}
	}
}